@page "/Template/{TemplateId:int}"
@rendermode InteractiveServer
@inject IDatabaseAccessorService dba
@inject NavigationManager nav

<PageTitle>Template "@_template.Title"</PageTitle>

<MudGrid Justify="Justify.Center" Class="pt-12">
    <MudItem xs="10">
        <MudPaper Class="p-4">
            <MudGrid Justify="Justify.SpaceBetween">
                <MudItem>
                    <MudText Class="pb-2" Typo="Typo.h3">@_template.Title</MudText>
                </MudItem>
                <MudItem>
                    <div class="rounded-pill mud-theme-secondary py-2 px-6 mx-4 my-6">
                        <MudText Align="Align.Center" Typo="Typo.h4" Class="rounded-pill">@_template.Topic.Title</MudText>
                    </div>
                    <MudChipSet ReadOnly="true" T="string">
                        @foreach (var tag in _template.Tags)
                        {
                            <MudChip Icon="@Icons.Material.Filled.Tag" Color="Color.Info" Variant="Variant.Filled">@tag.Title</MudChip>
                        }
                    </MudChipSet>
                </MudItem>
            </MudGrid>
            <MudText Class="p-1" Typo="Typo.body1" Style="font-style: italic;">Created by @(_template.Owner.UserName ?? "(Orphan Template)") on @(_template.CreatedAt.ToLocalTime().ToLongTimeString())</MudText>
            @if (!string.IsNullOrWhiteSpace(_template.CoverImageUrl))
            {
                <MudImage Src="@_template.CoverImageUrl" />
            }
            <MudMarkdown Value="@(_template.Description ?? "")"></MudMarkdown>

            <MudToolBar>
                <MudButton StartIcon="@Icons.Material.Filled.Checklist" IconSize="Size.Large" Class="rounded-pill" Color="Color.Info" Variant="Variant.Filled" Href=@($"/Template/Fill/{TemplateId}")>Fill Form</MudButton>

            </MudToolBar>

            <TemplateCommentsSection />

        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    [Parameter]
    public int TemplateId { get; set; }

    private Template _template { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _template = await dba.GetTemplate(TemplateId);
        if (_template == null) nav.NavigateTo("/404");

    }
}
