@page "/Template/{TemplateId:int}/Fill"
@rendermode InteractiveServer
@inject IDatabaseAccessorService dba
@inject ISnackbar snack
@inject NavigationManager nav

@attribute [Authorize]

@if (_template == null){
    <WoasFormsApp.Components.Template.TemplateInaccessible />
}
else
{
    <PaperCenter Title=@($"Filling Form for Template {_template.Title}")>
        <MudForm Model="_response" @ref=form>
            <MudText style="white-space: nowrap; max-width: fit-content" Class="pt-4 px-4 pb-1" Align="Align.Center" Typo="Typo.h2">@_template.Title</MudText>
            <MudText Class="px-4" Typo="Typo.body1" style="font-style: italic;">Created by <b>@(_template.Owner.UserName ?? "(Orphan Template)")</b> on @(_template.CreatedAt.ToLocalTime().ToLongDateString()) @(_template.CreatedAt.ToLocalTime().ToShortTimeString()) </MudText>
            <div class="p-4">
                <MudPaper Class="p-4 m-6 mud-background-gray">
                    <MudMarkdown Value="@(string.IsNullOrWhiteSpace(_template.Description) ? "__(No Description Provided)__" : _template.Description)"></MudMarkdown>
                </MudPaper>

            </div>

            @foreach (var answer in _response.Answers)
                {
                    <FormField Answer="answer" ReadOnly="false"/>
                }
            <div class="mt-6 px-4 m-4 align-self-center">
                <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="SubmitForm" Class="rounded-5 flex-shrink">
                    <MudText Typo="Typo.h6"> Submit Form </MudText>
                </MudButton>
            </div>
        </MudForm>
    </PaperCenter>

}

@code {
    MudForm form { get; set; }

    [Parameter]
    public int TemplateId { get; set; }

    private Template? _template { get; set; }

    private Response _response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _template = await dba.GetTemplate(TemplateId);
        if (_template == null) return;
        List<ResponseAnswer> _answers = _template.Fields.Where(f => !f.Hidden).Select(f => new ResponseAnswer { Field = f }).ToList();
        _response = new Response()
            {
                Template = _template,
                Answers = _answers,
            };
    }

    private async Task SubmitForm()
    {
        var res = await dba.CreateResponse(_response);
        if (res == null)
        {
            snack.Add("There was an error submitting the form", Severity.Error);
        }
        else
        {
            snack.Add("Form submitted successfully", Severity.Success);
            nav.NavigateTo($"/Form/{res.Id}");
        }
    }
}
