@using Microsoft.AspNetCore.Identity
@using WoasFormsApp.Data

@inject SignInManager<WoasFormsAppUser> SignInManager;
@inject NavigationManager Nav;


<AuthorizeView Roles="Admin">
    <Authorized>
        <MudButton Href="/Admin/Dashboard" Variant="Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.AdminPanelSettings" Style="p-2">Admin Panel</MudButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <MudStack Row="true">
            <MudIcon Icon="@Icons.Material.Filled.Person"/>
            <MudText Align="Align.Center">Logged in as @context.User.Identity?.Name</MudText>
        </MudStack>
        <form action="Account/Logout" method="post">
            <button type="submit" style="width: 100%">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.TwoTone.Logout" Style="p-2; width: 100%" >Log Out</MudButton>
            </button>
        </form>
        <MudButton Href="/MyTemplates" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Inventory" Style="p-2">My Templates</MudButton>
        <MudButton Href="/Template/Create" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Style="p-2" Color="Color.Primary">Create Template</MudButton>
        <MudButton Href="/MyForms/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Description" Style="p-2">My Forms</MudButton>
    </Authorized>

    <NotAuthorized>
        <MudButton Href="/Account/Login" Variant="Variant.Filled" StartIcon="@Icons.Material.TwoTone.Login" Style="p-2">Sign In</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code
{
    public async Task LogOut()
    {
        await SignInManager.SignOutAsync();
        Nav.NavigateTo("/", forceLoad: true);
    }
}