@using Microsoft.AspNetCore.Identity
@using WoasFormsApp.Data

@inject SignInManager<WoasFormsAppUser> SignInManager;
@inject NavigationManager Nav;

<AuthorizeView Roles="Admin">
    <Authorized>
        <MudButton Href="/Admin/Dashboard" Variant="Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.AdminPanelSettings" Style="p-2">@loc["ADMIN_PANEL"]</MudButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <MudButton Href="/Profile/" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Person" Class="p-2">@loc["LOGGED_AS", @context.User.Identity!.Name!]</MudButton>
        <form action="Account/Logout" method="post">
            <button type="submit" style="width: 100%">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.TwoTone.Logout" Class="p-2" Style="width: 100%">@loc["LOG_OUT"]</MudButton>
            </button>
        </form>
    </Authorized>

    <NotAuthorized>
        <MudButton Href="/Account/Login" Variant="Variant.Filled" StartIcon="@Icons.Material.TwoTone.Login" Style="p-2">@loc["SIGN_IN"]</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code
{
    public async Task LogOut()
    {
        await SignInManager.SignOutAsync();
        Nav.NavigateTo("/", forceLoad: true);
    }
}