@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MudBlazor
@using WoasFormsApp.Services
@inherits LayoutComponentBase

@inject ThemeService themeService
@inject NavigationManager nav

@* Required *@
<MudThemeProvider @bind-IsDarkMode="_isDarkMode" />

@code {
    private bool _isDarkMode = true;

    public bool _drawerOpen = true;

    protected override async Task OnInitializedAsync()
    {
        bool storedMode = themeService.GetDarkMode();
        _isDarkMode = storedMode;
    }
}

<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />



<MudLayout>
    <MudAppBar Color="Color.Primary" Style="p-10">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.MoreVert" Edge="Edge.Start"/>
        <MudSpacer />
        <TemplatesSearchBar />
        <MudSpacer />
        <a href="/">
            <MudText Typo="Typo.h6">WoasForms</MudText>
        </a>
    </MudAppBar>

    <MudDrawer id="nav-drawer" Elevation="2" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Class="pa-4">
        <MudStack>
            <MudButton Href="/" StartIcon="@Icons.Material.Filled.Home" Variant="Variant.Filled">Browse Templates</MudButton>
            <AccountDrawerButtons />
            <a href="/FlipTheme">
                <MudToggleIconButton @bind-Toggled="_isDarkMode" ToggledIcon="@Icons.Material.Filled.DarkMode" Icon="@Icons.Material.Outlined.LightMode"/>
            </a>
            <!-- 
            MudToggleIconButton can't do anything because the MainLayout is static and Theme Provider can't update without interactivity
            
            <MudButton @onclick="() => OnThemeClick()" StartIcon="@Icons.Material.Filled.DarkMode">Flip Theme</MudButton>
            <MudStaticSwitch @bind-Value="@IsDarkMode" Size="Size.Medium" ThumbIcon="@Icons.Material.Outlined.DarkMode">Dark Mode (TBD)</MudStaticSwitch>
            -->
        </MudStack>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
