@inherits LayoutComponentBase

@code {
    public bool _drawerOpen = true;
}

<MudPopoverProvider @rendermode="InteractiveServer" />

<MudDialogProvider @rendermode="InteractiveServer" />

<MudSnackbarProvider @rendermode="InteractiveServer" />



<MudLayout>
    <MudAppBar Color="Color.Primary" Style="p-10">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" />
        <MudSpacer />
        <TemplatesSearchBar />
        <MudSpacer />
        <a href="/" data-enhance-nav="true">
            <MudText Typo="Typo.h6">@loc["WOASFORMS"]</MudText>
        </a>
    </MudAppBar>

    <MudDrawer Width="300px" id="nav-drawer" Elevation="2" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Class="pa-4" data-enhance-nav="true">
        <MudStack>
            <MudButton Href="/" StartIcon="@Icons.Material.Filled.Home" Variant="Variant.Filled">@loc["BROWSE_TEMPLATES"]</MudButton>
            <DrawerButtons @rendermode="InteractiveServer" />
            <MudGrid Justify="Justify.SpaceAround" Class="px-4">
                <MudItem xs="10" Class="px-2">
                    <LocaleSelector />
                </MudItem>
                <MudItem xs="2" Class="px-2">
                    <ThemeToggleButton @rendermode="InteractiveServer" />
                </MudItem>

                <MudLink Href="/Support">
                    <MudText Typo="Typo.subtitle1" Align="Align.Center">
                        @loc["SUPPORT_BUTTON"]
                    </MudText>
                </MudLink>
            </MudGrid>
        </MudStack>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
